# Python basics

In [1]:
1 #integers

1

In [2]:
type(1) #to check the type of any value provided

int

In [3]:
1.2 #float

1.2

In [4]:
type(1.2)

float

### Arithmetic operations

In [18]:
add = 1+1 #addition
sub = 2-1 #subtraction
mul = 2*3 #multiplication
div = 1/2 #division
exp = 2**3 #exponetial
mod = 5%2 #modulus
order = (2+3)*(5+5) #order of operation by specifying parenthesis

print(add, sub, mul, div, exp, mod, order)

2 1 6 0.5 8 1 50

### String Interpolation
* A way to insert things into the strings

In [20]:
print("My name is {}".format('Silbia')) #for single arguments

My name is Silbia

In [22]:
print("{}My name is {}, and my nationality is {}".format('1.','Silbia','Indian')) #for multiple arguments

1.My name is Silbia, and my nationality is Indian

In [33]:
print("First: {y} Second: {x}".format(x='XXX', y='YYY'))# another method for better control over order

First: YYY Second: XXX

### List 
* Square brackets and separated by commas

In [25]:
list_0 = [1,2,3]
print(list_0)

[1, 2, 3]

In [9]:
list_1 = ['a','b','c']
print(list_1)

['a', 'b', 'c']

In [11]:
'b' in list_1

True

In [31]:
list_2 = [45,'Silbia']
list_2[1] #grabbing items through indexing

'Silbia'

In [32]:
list_2 = [45,'Silbia','Apple']
list_2[-1] #negative indexing, returns the last item in the list

'Apple'

In [35]:
#changing an item from the list
list_2[2] = "Dogs"
list_2

[45, 'Silbia', 'Dogs']

In [36]:
#to add new items to the list using append()
list_2.append('Indian')
list_2

[45, 'Silbia', 'Dogs', 'Indian']

In [37]:
#nested lists
list_3 = [1,2,[100,200]]
list_3

[1, 2, [100, 200]]

In [38]:
#grabbing 200 from list_3
list_3[2][1]

200

### Dictionaries 
* {} and key:value pair
* maintain no order

In [2]:
dict = {'key1':'value1', 'key2':'value2'}
dict['key2']

'value2'

In [3]:
print(dict)

{'key1': 'value1', 'key2': 'value2'}

In [4]:
dict.keys()

dict_keys(['key1', 'key2'])

In [5]:
dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

### Tuples
* ()
* are immutable

In [41]:
T = (1,2,3)

In [44]:
T[0] = 'NEW' #gives error because items can't be reassigned with new values in tuples

TypeError: 'tuple' object does not support item assignment

### Sets
* unordered collection of unique elements

In [45]:
S = {1,2,3}
print(S)

{1, 2, 3}

In [47]:
S_1 = {1,1,1,1,1,2,2,3,4,4}
print(S_1) #prints only unique occurence

{1, 2, 3, 4}